body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

@media only screen and (max-width: 700px) {
    body {
        min-width: unset;
    }
}

section {
    width: 100%;
    padding: 24px 0;
}

section.hero {
    background: var(--color-primary);
    color: #f8f8f8;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3.6em;
    margin: 0;
    margin-bottom: 24px;
}

.section-body {
    padding: 0 24px;
    min-width: 400px;
    max-width: 720px;
    margin: 0 84px;
}

.heading-group {
    border-left: 3px solid var(--color-primary);
    padding-left: 16px;
}

.heading-group h2 {
    font-size: 2.2em;
    margin-bottom: 16px;
}

.subtitle {
    font-size: 1.3em;
}

.typeface .specimen {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.typeface .specimen-large {
    font-size: 120px;
    margin-right: 16px;
}

.typeface-primary,
h1,
h2,
h3,
h4 {
    font-family: var(--font-primary);
    margin-bottom: 12px;
}

.typeface-secondary,
.subtitle,
p,
figcaption {
    font-family: var(--font-secondary);
}

.color-band {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.color-primary-hex,
.color-secondary-hex,
.color-tertiary-hex {
    margin-top: 8px;
}

.color-block {
    width: 0;
    flex-grow: 1;
}

.color-block .swatch {
    height: 100%;
    width: 100%;
}

.color-block-primary .swatch {
    background: var(--color-primary);
}

.color-block-secondary .swatch {
    background: var(--color-secondary);
}

.color-block-tertiary .swatch {
    background: var(--color-tertiary);
}

