body {
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;

    /* VARIABLES */
    --fore: #f8f8f8;
    --back: #333;
    --primary: #246;
}

.app {
    background: #eee;
    height: 100vh;
    width: 100vw;
}

.app {
    display: flex;
    flex-direction: row;
}

.half {
    width: 50%;
}

.refreshBtn {
    position: fixed;
    bottom: 2px;
    right: 2px;
}

.controlsPaneInner,
.previewPaneInner {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 12px 20px;
}

/* CONTROLS */

.controlsPane {
    max-width: 600px;
    flex-grow: 1;
}

.controlsPaneInner {
    background: var(--back);
    color: var(--fore);
}

.controlsPaneInner .question {
    font-size: 24px;
    font-weight: bold;
}

/* PRVIEW */

.previewPane {
    flex-grow: 1;
}

/* RANGE SLIDER */

.rangeSlider {
    margin-bottom: 32px;
}

.rangeSlider .labels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4em;
    font-weight: bold;
}

.rangeSlider .sliderContainer {
    position: relative;
}

.rangeSlider .slider {
    width: 100%;
    height: 14px;
    border-radius: 7px;
    background: var(--fore);
    margin: 16px 0;
}

.rangeSlider .handle {
    cursor: grab;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
    box-sizing: border-box;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: var(--fore);
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .3);
    transition: transform .2s;
    border: 1px solid var(--primary);
    transform: scale(1.4);
}

.rangeSlider .handle:hover {
    transform: scale(1.5);
}

.rangeSlider .handle:active {
    cursor: grabbing;
}

.rangeSlider .clickPoints {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rangeSlider .clickPoint {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: var(--fore);
}

/* COLOR PICKER */
